{% extends "layout.html" %}

{% block title %}
    Check Up
{% endblock %}

{% block main %}
    <div class = "Form_Format">
        <form action="/add" method="Post">
            <div class="form-group">
            <label for="id">ID</label>
                <input type="text" class="form-control" id="PatientId" aria-describedby="Id" placeholder="PatID" name="PatientId">
            </div>
            <div class="form-group">
            <label for="ill">Illness</label>
                <input type="text" class="form-control" id="Illness" aria-describedby="medicalProblem" placeholder="Illness" name="Illness">
            </div>
            <div class="form-group">
            <label for="med">Medicines Prescribed</label>
                <input type="text" class="form-control" id="Prescribed" aria-describedby="medicinesPrescribed" placeholder="Enter the medicines prescribed" name="Prescribed">
            </div>
            <button type="submit" class="btn btn-primary">ADD to register</button>
        </form>
        <br><br><table class="table">
            <thead class="thead-white">
                <tr>
                    <th scope="col">Patient Id</th>
                    <th scope="col">Illness</th>
                    <th scope="col">Medicines Prescribed</th>
                    <th scope="col">Date</th>
                </tr>
            </thead>
            <tbody>
                {% for patient in patients %}
                    <tr>
                        <th scope="row">{{ patient["id"] }}</th>
                        <td>{{ patient["illness"] }}</td>
                        <td>{{ patient["medicines"] }}</td>
                        <td>{{ patient["date"] }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}